.card{
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
    text-shadow:
		0 0 5px rgba(0,178,255,1),
		0 0 10px rgba(0,178,255,1),
		0 0 20px rgba(0,178,255,1),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
		0 0 180px rgba(38,104,127,1);
}
.card:hover{
    opacity: 0.7;
}

.cardImage{
    border-radius: 1.3rem;
    background-color: azure;
}

@media (max-width: 588px){
    .cardImage{
        width: 90%;
        height: auto;
    }
}